extends layout

block content
  h1= title

  form(method='POST' action='')
    div.form-group
      label(for='categoryName') Category Name:
      input#categoryName.form-control(type='text', placeholder='Name of Category' name='categoryName' required='true' value=(undefined===category ? '' : category.categoryName) )
    div.form-group
      label(for='categoryDescription') Category Description:
      input#categoryDescription.form-control(type='text', placeholder='category description' name='categoryDescription' required='true' value=(undefined===category ? '' : category.categoryDescription) )
    
    button.btn.btn-primary(type='submit') Submit

  if errors
    ul
      for error in errors
        li!= error.msg
